/* edit-profile.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: #bfdbdd; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.profile-container {
    text-align: center;
}

.profile-container h1 {
    margin-bottom: 20px;
}

.profile-picture {
    margin-bottom: 20px;
}

.profile-picture label {
    display: block;
    margin-bottom: 5px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input,
form select {
    width: calc(100% - 10px); /* Adjusted width */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Added margin */
}

button[type="submit"],
button[type="button"] {
    padding: 10px;
    background-color: #1d3a4d; /* Dark blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0e2534; /* Darker blue on hover */
}

button {
    width: 100%;
    margin-top: 10px; /* Added margin */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 20px;
    }
}